<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un ticket</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/create_ticket.css' %}">
</head>
<body>

<div class="container">
    <header class="header">
        <div class="header-title">LITReview</div>
        <nav class="header-nav">
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'create_ticket' %}">Posts</a>
            <a href="{% url 'manage_followers' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
    </header>

    <main>
        <h1>Créer un ticket</h1>

        <form method="post" class="ticket-form">
            {% csrf_token %}
            {{ form.as_p }}  <!-- This will render the form fields -->
            <button type="submit">Envoyer</button>
        </form>
    </main>
</div>

</body>
</html>
